<!-- regInfo.html -->
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Registration Info</title>
    <!-- <meta ID=""> -->
  </head>
  <body>
    <div class="jumbotron text-center">
        <h1>Registration Information</h1>
        <p>{{ message }}</p>
    </div>
        <br></br>
        <div style="line-height:140%;font-size:18pt">
          <h2>“The vote is the most powerful instrument ever devised by man for breaking down injustice and destroying the terrible walls which imprison men because they are different from other men.”~Lyndon B. Johnson, 36th President of the United States</h2>
          <br></br>
          <div class="left">
            <h2>Qualifications to Vote</h2>
            <ul>
              <li>Have citizenship status in the United States of America</li>
              <li>Be of age 18 or older by the day of the election (Although some states have other age restrictions on registration. Please refer to your state's website)</li>
              <li>Register to vote in the state in which you reside (Many states disallow registration a certain amount of time before the election. This varies by state)</li>
              <li>You are not allowed to vote if you have been convicted of a federal crime</li>
            </ul>
            <br></br>
            <h2>Useful tips for election day</h2>
            <ul>
              <li>Many states require proof of identity before you are allowed to
                  vote. This practice is a highly disputed issue on a national level.
                  <a target="_blank" href="http://www.ncsl.org/research/elections-and-campaigns/voter-id.aspx">
                  Recently Texas' version of this law was deemed unable to be enforced</a>
              </li>
              <li>Know when your local voting polls close. It is important to vote
                  and you don't want to miss your opportunity because you didn't
                  know when the polls closed.
              </li>
            </ul>
            <br></br>
            <h2>Where to Register</h2>
            <ul>
              Registration location changes per state. Some states have online
              registration (<a target="_blank" href="http://www.ncsl.org/research/elections-and-campaigns/electronic-or-online-voter-registration.aspx">A list of those states can be found here</a>)
              while others still require a physical form registration. States
              that still require in person registration will allow registration
              at either an office of the Department of Motor Vehicles or an office
              dedicated to elections and voter registration
            </ul>
          </div>
          <br></br>
          <input type="button" onclick="location.href='https://vote.usa.gov/';" value="Register to Vote!" />
        </div>
    </div>
  </body>
